:root {
    --name-column-width: 40%;
    --quantity-column-width: 20%;
    --price-column-width: 30%;
}

#shoppingCart {
    margin-bottom: 500px;
    flex-basis: 40%
}

.shoppingCart__header {
    font-size: 1.5em;
}

#cartItems {
    display: flex;
    flex-direction: column;
}

.lineItem, .cartHeaders {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.cartHeaders {
    font-size: 1.3em;
}

.lineItem__column, .cartHeaders__column {
    flex-basis: 28%;
}

.header--product {
    flex-basis: var(--name-column-width);
}

.header--quantity {
    flex-basis: var(--quantity-column-width);
}

.header--price {
    flex-basis: var(--price-column-width);
}


.lineItem--name {
    flex-basis: var(--name-column-width);
}

.lineItem--quantity {
    flex-basis: var(--quantity-column-width);
}

.lineItem--price {
    flex-basis: var(--price-column-width);
}

.cart__buttons {
    flex-basis: 27%;
}

.button {
    cursor: pointer;
    font-size: 0.9em;
}

.button--cart {
    font-size: 0.7em;
}

