#shoppingCart {
    margin-bottom: 500px;
    flex-basis: 40%
}

.shoppingCart__header {
    font-size: 1.5em;
}

#cartItems {
    display: flex;
    flex-direction: column;
}

.lineItem, .cartHeaders {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.cartHeaders {
    font-size: 1.3em;
}

.lineItem__column, .cartHeaders__column {
    flex-basis: 28%;
}

.lineItem__name {
    flex-basis: 40%;
}

.lineItem__quantity {
    flex-basis: 20%;
}

.lineItem__price {
    flex-basis: 30%;
}

.cart__buttons {
    flex-basis: 27%;
}

.button {
    cursor: pointer;
    font-size: 0.9em;
}

.button--cart {
    font-size: 0.7em;
}

