body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.company {
    font-size: 3.25em;
}

.center {
    text-align: center;
}

#productList {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.product {
    flex-basis: 25%;
    border: 2px dotted goldenrod;
    padding: 15px;
    margin: 0 0 20px 0;
}

.product:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .5s all ease;
    z-index: 400;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4)
}

.product__header {
    text-align: center;
}

.product__image {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.product:hover .product__image {
    opacity: 0;
    transition: 0.4s all ease;
}

.product__description {
    opacity: 0;
    font-size: 1.25em;
}

.product:hover > .product__description {
    display: block;
    opacity: 1;
    transition: 1.5s all ease;
}

.product__price {
    margin: 0 0 10px 0;
}

#shoppingCart {
    margin-bottom: 500px;
}

.shoppingCart__header {
    font-size: 2em;
}

#cartItems {
    display: flex;
    flex-direction: column;
}

.lineItem, .cartHeaders {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.cartHeaders {
    font-size: 2em;
}

.lineItem__column, .cartHeaders__column {
    flex-basis: 28%;
}

.cart__buttons {
    flex-basis: 15%;
}

.button {
    cursor: pointer;
    font-size: 0.9em;
}

.button--cart {
    font-size: 0.7em;
}
