@import "cart.css";
@import "productList.css";


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.company {
    font-size: 3.25em;
}

.center {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    font-size: 0.9em;
}


